 {{#if sucessMsg}}
<div class="row">
    <div class="col-md-12 alert alert-success">

        {{sucessMsg}}
    </div>
</div>
{{/if}} {{#each products }}
<div class="row">
    <div class="card-group"></div>
    {{#each this}}
    <div class="card">
        <img class="card-img-top img img-responsive image-size" src="{{this.image}}" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">{{this.title}}</h5>
            <p class="card-text">{{this.desctiption}}</p>
        </div>
        <div class="card-footer">
            <a href="/add-to-cart/{{this._id}}" class="btn btn-md btn-success buy-label">
                <i class="fas  fa-cart-plus"></i> Add To Cart </a>
            <h3 class="badge  badge-info float-right price " style="display: inline">{{this.price}} $ </h3>
        </div>
    </div>
    {{/each}}

</div>
{{/each }}