<div class="row">

    <div class="col-sm-6 col-md-6 offset-md-3 offset-sm-3">
        <h3> check Out</h3>
        <ul class="list-group">

            {{# each cart.items}}
            <li type="button" class="list-group-item list-group-item-action ">
                <strong> {{item.title}}</strong>
                <span class="badge badge-success">{{this.price}} $</span>
                <span class="dropdown">
                    <button class="btn btn-warning btn-sm dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true"
                        aria-expanded="false">
                        action </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <a class="dropdown-item" href="/remove-one/{{this.item._id}}">remove one</a>
                        <a class="dropdown-item" href="/remove-all/{{this.item._id}}">remove all</a>
                    </div>
                </span>
                <span class="badge badge-primary badge-pill float-right">{{quantity}}</span>

            </li>
            {{/each}}
        </ul>
        <strong> total Price: {{cart.totalPrice}} $</strong>
        <span class="float-right">
            <a href="/checkout" class="btn btn-success">check out
                <i class="fa fa-dollar" aria-hidden="true"></i>
            </a>
        </span>
    </div>
</div>